@import "tailwindcss";


.glassmorphism {
  background: rgba(8, 116, 239, 0.07);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.logo {
  border-radius: 8.889px;
  background: #fff;
  box-shadow: 0px 10px 35px -4px rgba(67, 83, 255, 0.15),
    0px 1.5px 4px -1px rgba(67, 83, 255, 0.2);
}

.block-container {
  position: relative;
  transition: 250ms;
  perspective: 500px;
}

.block-container .btn-back {
  position: absolute;
  inset: 0;
  z-index: -1;
  width: inherit;
  height: inherit;
  transition: 250ms;
  transform-style: preserve-3d;
  transform-origin: bottom right;
  transform: rotateZ(15deg);
  will-change: transform;
  box-shadow: 16px 0 40px #e4e4e4;
}

.block-container .btn-back-red {
  background: linear-gradient(135deg, #ff4b1f -20%, #ff9068 120%);
}

.block-container .btn-back-green {
  background: linear-gradient(135deg, #adfda2 -20%, #11d3f3 120%);
}

.block-container .btn-back-yellow {
  background: linear-gradient(135deg, #f7971e -20%, #ffd200 120%);
}

.block-container .btn-back-blue {
  background: linear-gradient(135deg, #0061ff -20%, #60efff 120%);
}

.block-container .btn-back-orange {
  background: linear-gradient(135deg, #ff0f7b -20%, #f89b29 120%);
}

.block-container .btn-back-pink {
  background: linear-gradient(135deg, #e81cff -20%, #40c9ff 120%);
}

.block-container .btn-back-black {
  background: linear-gradient(135deg, #0a1647 -20%, #e4e7e4 120%);
}

.block-container .btn-front {
  position: absolute;
  inset: 0;
  z-index: 1;
  width: inherit;
  height: inherit;
  background-color: #ffffff33;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  transition: 250ms;
  transform-style: preserve-3d;
  transform-origin: top left;
  overflow: hidden;
}

.block-container:hover > .btn-back {
  transform: translateZ(20px) rotateZ(15deg) rotateX(-20deg) rotateY(-20deg);
}

.block-container:hover > .btn-front {
  transform: translateZ(80px) translateY(-5px) rotateX(15deg) rotateY(15deg);
}

/* Neo Brutalism */
.neo-brutalism-blue {
  background: #2b77e7;
  position: relative;
  border-radius: 10px;
  border: #2b77e7;
  box-shadow: 0.6vmin 0.6vmin #336cc1, 1vmin 1vmin #0092db, 1vmin 1vmin #0092db,
    0.65vmin 1vmin #0092db, 1vmin 0.65vmin #0092db;
}

.neo-brutalism-white {
  background: #fff;
  border: #fff;
  box-shadow: 0.6vmin 0.6vmin #fff, 1vmin 1vmin #d2e4ff, 1vmin 1vmin #d2e4ff,
    0.65vmin 1vmin #d2e4ff, 1vmin 0.65vmin #d2e4ff;
}


.particles-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.custom_center {
  /* top: 40%;
  left: 20%; */
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* transform: translate(-50%, -50%); Ensures perfect centering */
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .custom_center {
    padding-left: 10px;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 50px;
  }
  .skill_cont{
    margin: 30%;
  }
}

.nav_bar{
  z-index: 19;
}
@media (max-width: 1400px) {
  .skill_cont{
    margin: 5vh;
  }
}
.custom_div_hero{
  z-index: 10;
}
.custom_hero_section{
  height: 100vh;
}
.about{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.wordings{
  padding: 6%;
  max-width: 50vw;
}
.wordings p{
  margin-bottom: 3%;
}
.buttonsAbout{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.imageHero{
  margin: 20px;
  z-index: 10;
}
.rotatingText{
  width: 210px;
  z-index: 11;
  font-size: 20px;
  font-weight: 600;
}
.rotatingTextHome{
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 10px;
}
.rotatingTextHome h1{
  font-size: 35px;
  font-weight: 600;
}
.details_home{
  background:black;
  height:'20vh';
  margin:"10px";
  padding: 10px;
  /* border: 1px solid red; */
}
@media (max-width: 768px) {
  .pressure_Text{
    background:black;
    height:auto;
    margin:"10px";
    padding: 10px;
    position: relative;
  }
}
.skills{
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin: auto;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.blue-gradient_text {
  @apply bg-gradient-to-r from-[#00c6ff] to-[#0072ff] bg-clip-text text-transparent;
}
.custom_details_display{
  width: 100%;
}
.subhead_text{
  font-size: 30px;
  font-weight: 500;
}
.badges{
  display: flex;
  align-items: center;
  width: 80vw;
  justify-content: space-around;
  margin: 20px;
  flex-wrap: wrap;
}
.badgeImage{
  max-width: 300px;
}
.img_contact{
  width: 24px;
}
@media (max-width: 500px) {
  .custom_rotatingText {
    display: flex;
    flex-direction: column;
  }
  .details_home{
    display: none;
  }
}